<?xml version="1.0" encoding="utf-8" ?>
<!-- This is an example code snippets file -->
<examples>
  <item id="ClassDefinition#Define">
    <sampleCode language="CSharp">
      public class CSharpClass()
      {
          // Members go here
      }
    </sampleCode>
    <sampleCode language="VisualBasic">
      Public Class VBClass
          ' Members go here
      End Class
    </sampleCode>
  </item>
</examples>
