<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="diagnostics" type="System.Configuration.NameValueSectionHandler,System,Version=1.0.3300.0,Culture=neutral,PublicKeyToken=b77a5c561934e089"/>
		<section name="Sage" type="System.Configuration.NameValueSectionHandler,System,Version=1.0.3300.0,Culture=neutral,PublicKeyToken=b77a5c561934e089"/>
		<section name="EmissionsService" type="Highpoint.Sage.Materials.Chemistry.Emissions.EmissionsServiceConfigurationHandler, Sage,Version=1.2,Culture=neutral,PublicKeyToken=9fab214fb9c18846"/>
		<section name="SFM" type="System.Configuration.NameValueSectionHandler,System,Version=1.0.3300.0,Culture=neutral,PublicKeyToken=b77a5c561934e089"/>
		<section name="SFMTypeLibrary" type="Highpoint.Sage.SFM.Common.SFMTypeLibraryConfigurationHandler, Sage,Version=1.2,Culture=neutral,PublicKeyToken=9fab214fb9c18846"/>
	</configSections>
	<Sage>
		<add key="WorkerThreads" value="100"/>
		<add key="IgnoreCausalityViolations" value="true"/>
		<add key="ExecutiveType" value="Highpoint.Sage.SimCore.Executive"/>
	</Sage>
	<diagnostics>
		<!--
		<add key="LogMissingDiagKeys" value="false"/>
		<add key="CPMAnalyst.PermitUnknownEdges" value="true" />
		<add key="ValidationService" value="false" />
		<add key="Mixture" value="false" />
		<add key="DAGCycleChecker" value="false" />
		<add key="Reactions" value="false" />
		<add key="ReactionProcessor" value="false"/>
		<add key="Resources" value="false" />
		<add key="Task" value="true" />
		<add key="Edge" value="false" />
		<add key="Vertex" value="false" />
		<add key="Model" value="false" />
		<add key="Executive" value="false" />
		<add key="TimePeriod" value="false" />
		<add key="SmartPropertyBag" value="false" />
		<add key="CPMAnalyst" value="false" />
		<add key="PathLength" value="false" />
		<add key="StateMachine" value="false" />
		-->
		<add key="LogMissingDiagKeys" value="false"/>
		<!-- Logs to $(AppDataDir)/MissingDiagKeys.log -->
		<add key="Executive" value="false"/><!-- Time & event-dispatching related info.-->
		<add key="DetachableEventController" value="false"/><!-- Information on individual events. -->
		<add key="Model" value="false"/>
		<add key="ModelWarnings" value="false"/>
		<add key="ModelErrors" value="false"/>
		<add key="Graph.KeepPostMortems" value="false"/>
		<add key="StateMachine" value="false"/>
		<add key="CPMAnalyst.PermitUnknownEdges" value="true"/>
		<add key="CPMAnalyst" value="false"/>
		<add key="CPMAnalyst.LogEdgeNotFoundError" value="false"/>
		<add key="DAGCycleChecker" value="false"/>
		<add key="Edge" value="false"/>
		<add key="PathLength" value="false"/>
		<add key="Task" value="false"/>
		<add key="TaskProcessor" value="false"/>
		<add key="ValidationService" value="false"/>
		<add key="Vertex" value="false"/>
		<add key="Reactions" value="false"/>
		<add key="ReactionProcessor" value="false"/>
		<add key="MaterialResourceItem" value="false"/>
		<add key="Mixture" value="false"/>
		<add key="TemperatureIsNaNBreak" value="false"/>
		<add key="TemperatureController" value="false"/>
		<add key="Resources" value="false"/>
		<add key="ResourceTracker" value="false"/>
		<add key="TimePeriod" value="false"/>
		<add key="SVRecipe" value="false"/>
		<add key="SV.OperationTask" value="false"/>
		<add key="SVServer.Prune" value="false"/>
		<add key="SVServer.Graft" value="false"/>
		<add key="SVServer.SequenceBuilder" value="false"/>
		<add key="SVServer.ModelTransfers" value="false"/>
		<add key="SVSequenceBuilder" value="false"/>
		<add key="SVSequenceBuilder.LoadAndSyncNewRecipe" value="false"/>
		<add key="SOMModel" value="false"/>
		<add key="SmartPropertyBag" value="false"/>
		<add key="SiteScheduleModelBuilder" value="false"/>
		<add key="SkedTask" value="false"/>
		<add key="SkedTaskStrategy" value="false"/>
		<add key="SOMB_ResourceAcquisitionHelper" value="false"/>
		<add key="SOMB_ResourceReleaseHelper" value="false"/>
		<add key="SOMB_ThermodynamicsHelper" value="false"/>
		<add key="SOMB_TransferInHelper" value="false"/>
		<add key="SOMB_TransferOutHelper" value="false"/>
		<add key="MVTracker" value="false"/>
		<add key="SOMBatch" value="false"/>
		<add key="SOMCentrifugeOperation" value="false"/>
		<add key="SOMDistillOperation" value="false"/>
		<add key="SOMFilterOperation" value="false"/>
		<add key="SOMModel" value="false"/>
		<add key="SOMModel.Performance" value="false"/>
		<add key="PartialRevalidation" value="false"/>
		<add key="IGNORE_GLOBAL_RESOURCE_TRACKER_REMOVAL_ISSUE" value="false"/>
		<add key="SOMModelBuilder" value="false"/>
		<add key="SOMOperation" value="false"/>
		<add key="SOMRecipeSpecification" value="false"/>
		<add key="RecipeFactory" value="false"/>
		<add key="SOMRecipePersistenceManager.StoreRecipeToFileSystemToo" value="false"/>
		<add key="SaveLoadingRecipeToFileSystem" value="false"/>
		<add key="SOMService" value="false"/>
		<add key="SOMTask" value="false"/>
		<add key="SOMUnit" value="false"/>
		<add key="TransferManager" value="false"/>
		<add key="Emissions.AutocreateEmissionsPort" value="true"/>
		<add key="Emissions.EmptyVesselsHaveVapors" value="true"/>
		<add key="GraphSequencer" value="false"/>
		<add key="GraphSequencer.StackCheck" value="false"/>
		<add key="ProcedureFunctionChart" value="false"/>
    <add key="SupportsServerObjects" value="true"/>
  </diagnostics>
	<SFM>
		<Libraries>
			<Source>
				<Path>.</Path>
				<Name>*.DLL</Name>
				<Exclude>Microsoft.Practices.EnterpriseLibrary.Common.dll</Exclude>
				<Exclude>Microsoft.Practices.EnterpriseLibrary.Configuration.dll</Exclude>
				<Exclude>Testing.dll</Exclude>
			</Source>
		</Libraries>
	</SFM>
	<SFMTypeLibrary>
		<Source>
			<!-- Paths do not accept wildcards. -->
			<Path>.</Path>
			<!-- Names accept wildcards. -->
			<Name>*.DLL</Name>
			<!-- Exclusions do not accept wildcards. -->
			<Exclude>ICSharpCode.SharpZipLib.dll</Exclude>
			<Exclude>Microsoft.Practices.EnterpriseLibrary.Common.dll</Exclude>
			<Exclude>Microsoft.Practices.EnterpriseLibrary.Configuration.dll</Exclude>
		</Source>
	</SFMTypeLibrary>
	<EmissionsService>
		<Enabled>true</Enabled>
		<IgnoreUnknownModelTypes>false</IgnoreUnknownModelTypes>
		<Enabled>true</Enabled>
		<PermitOverEmission>false</PermitOverEmission>
		<PermitUnderEmission>false</PermitUnderEmission>
		<Models>
			<Model assembly="Sage" type="Highpoint.Sage.Materials.Chemistry.Emissions.AirDryModel" signed="false" encrypted="false"/>
			<Model assembly="Sage,Version=1.2,Culture=neutral,PublicKeyToken=9fab214fb9c18846" type="Highpoint.Sage.Materials.Chemistry.Emissions.EvacuateModel" signed="false" encrypted="false"/>
			<Model assembly="Sage,Version=1.2,Culture=neutral,PublicKeyToken=9fab214fb9c18846" type="Highpoint.Sage.Materials.Chemistry.Emissions.FillModel" signed="false" encrypted="false"/>
			<Model assembly="Sage,Version=1.2,Culture=neutral,PublicKeyToken=9fab214fb9c18846" type="Highpoint.Sage.Materials.Chemistry.Emissions.GasEvolutionModel" signed="false" encrypted="false"/>
			<Model assembly="Sage,Version=1.2,Culture=neutral,PublicKeyToken=9fab214fb9c18846" type="Highpoint.Sage.Materials.Chemistry.Emissions.GasSweepModel" signed="false" encrypted="false"/>
			<Model assembly="Sage,Version=1.2,Culture=neutral,PublicKeyToken=9fab214fb9c18846" type="Highpoint.Sage.Materials.Chemistry.Emissions.HeatModel" signed="false" encrypted="false"/>
			<Model assembly="Sage,Version=1.2,Culture=neutral,PublicKeyToken=9fab214fb9c18846" type="Highpoint.Sage.Materials.Chemistry.Emissions.MassBalanceModel" signed="false" encrypted="false"/>
			<Model assembly="Sage,Version=1.2,Culture=neutral,PublicKeyToken=9fab214fb9c18846" type="Highpoint.Sage.Materials.Chemistry.Emissions.NoEmissionModel" signed="false" encrypted="false"/>
			<Model assembly="Sage,Version=1.2,Culture=neutral,PublicKeyToken=9fab214fb9c18846" type="Highpoint.Sage.Materials.Chemistry.Emissions.VacuumDistillationModel" signed="false" encrypted="false"/>
			<Model assembly="Sage,Version=1.2,Culture=neutral,PublicKeyToken=9fab214fb9c18846" type="Highpoint.Sage.Materials.Chemistry.Emissions.VacuumDistillationWScrubberModel" signed="false" encrypted="false"/>
			<Model assembly="Sage,Version=1.2,Culture=neutral,PublicKeyToken=9fab214fb9c18846" type="Highpoint.Sage.Materials.Chemistry.Emissions.VacuumDryModel" signed="false" encrypted="false"/>
			<Model assembly="Sage,Version=1.2,Culture=neutral,PublicKeyToken=9fab214fb9c18846" type="Highpoint.Sage.Materials.Chemistry.Emissions.PressureTransferModel" signed="false" encrypted="false"/>
		</Models>
	</EmissionsService>
	<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup>
</configuration>
