<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="Sage" type="System.Configuration.NameValueSectionHandler, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <section name="SageDiagnostics" type="System.Configuration.NameValueSectionHandler, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <Sage>
    <!--Default settings.-->
  </Sage>
  <SageDiagnostics>
    <!--Default settings.-->
  </SageDiagnostics>
</configuration>
