<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="diagnostics" type="System.Configuration.NameValueSectionHandler,System,Version=1.0.3300.0,Culture=neutral,PublicKeyToken=b77a5c561934e089"/>
    <section name="Sage" type="System.Configuration.NameValueSectionHandler,System,Version=1.0.3300.0,Culture=neutral,PublicKeyToken=b77a5c561934e089"/>
  </configSections>
  <Sage>
    <add key="WorkerThreads" value="100"/>
    <add key="IgnoreCausalityViolations" value="true"/>
    <add key="ExecutiveType" value="Highpoint.Sage.SimCore.Executive"/>
  </Sage>
  <diagnostics>
    <!--
		<add key="LogMissingDiagKeys" value="false"/>
		<add key="CPMAnalyst.PermitUnknownEdges" value="true" />
		<add key="ValidationService" value="false" />
		<add key="Mixture" value="false" />
		<add key="DAGCycleChecker" value="false" />
		<add key="Reactions" value="false" />
		<add key="ReactionProcessor" value="false"/>
		<add key="Resources" value="false" />
		<add key="Task" value="true" />
		<add key="Edge" value="false" />
		<add key="Vertex" value="false" />
		<add key="Model" value="false" />
		<add key="Executive" value="false" />
		<add key="TimePeriod" value="false" />
		<add key="SmartPropertyBag" value="false" />
		<add key="CPMAnalyst" value="false" />
		<add key="PathLength" value="false" />
		<add key="StateMachine" value="false" />
		-->
    <add key="LogMissingDiagKeys" value="false"/>
    <!-- Logs to $(AppDataDir)/MissingDiagKeys.log -->
    <add key="Executive" value="false"/>
    <!-- Time & event-dispatching related info.-->
    <add key="DetachableEventController" value="false"/>
    <!-- Information on individual events. -->
    <add key="Model" value="false"/>
    <add key="ModelWarnings" value="false"/>
    <add key="ModelErrors" value="false"/>
    <add key="Resources" value="false"/>
    <add key="ResourceTracker" value="false"/>
    <add key="MVTracker" value="false"/>
    <add key="PartialRevalidation" value="false"/>
    <add key="TransferManager" value="false"/>
    <add key="GraphSequencer" value="false"/>
    <add key="GraphSequencer.StackCheck" value="false"/>
    <add key="ProcedureFunctionChart" value="false"/>
    <add key="SupportsServerObjects" value="true"/>
  </diagnostics>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
</configuration>
